<section class="trip-list">
  <div class="view-header">
    <h1>Trips List</h1>
    <p>These are the new trips, pick one to edit</p>
  </div>

    <div class="trip trip-edit" *ngIf="editor === true">
      <label for="title">Give a title to your trip</label>
      <input type="text" id="title" [(ngModel)]="trip.title">
      <label for="arrival_date">When start your trip?</label>
      <input type="text" id="arrival_date">
      <label for="description">Tell us more about your trip</label>
      <input type="text" id="description">
      <button (click)="toggleEditor(false)">Close</button>
    </div>
    <div class="trip" *ngFor="let trip of trips"
      (click)="selectTrip(trip)"
      [class.trip-selected]="trip === selectedTrip">

      <div class="trip-header">
        <div class="trip-title">
          <h3>{{ trip.title }}</h3>
        </div>
        <div class="trip-arrival">
          <span>{{ trip.arrival }}</span>
        </div>
      </div>

      <div class="trip-details">
        <div class="trip-desc">
          {{ trip.description }}
        </div>
      </div>
    </div>
</section>
